[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/pythonmode"]
	path = vim/bundle/pythonmode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/qtpy"]
	path = vim/bundle/qtpy
	url = git://github.com/ameade/qtpy-vim.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
